<div id="index-cd">
	<h2>CD一覧</h2>
	<table>
		<thead>
			<tr>
				<th>CD名</th>
				<th>リリース日</th>
				<th>在庫</th>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<% @cds.each_with_index do |cd, i| %>
			<tr>
				<td><%= link_to admin_cds_path, "data-featherlight" => ".cd#{i}" do %>
					<%= cd.article_name %><% end %></td>
				<td><%= cd.release_date %></td>
				<td><%= cd.stock %></td>
				<td><%= link_to admin_cd_path(cd), method: :delete, data: { confirm: 'Are you sure?' } do %>
					<button class="delete">削除</button><% end %></td>
			</tr>
			<!-- 詳細 -->
				<%= content_tag(:div, class: ["lightbox", "cd#{i}"]) do %>
					<div class="jacket">
						<%= attachment_image_tag cd, :article_image, format: 'jpg', fallback: "/no_image_m.png", width: '300', height: '300'%>
					</div>
					<div class="cd-detail">
						<p class="title"><%= cd.article_name %></p>
						<hr width="100%">
						<% cd.tracks.each do |t| %>
						<p class="track">
							<%= t.track_num %>. <%= t.track_name %><br/>
						<% end %></p>
						<hr width="100%">
						<p class="show-price">￥ <%= cd.price.to_s(:delimited) %>(tax-in)</p>
					</div>
					<%= link_to edit_admin_cd_path(cd) do %>
						<button class="edit">編集</button><% end %>
				<% end %>
			<% end %>
		</tbody>
	</table>
	<%= paginate @cds %>
</div>