<style>
	#lyric_area {
		-moz-user-select: none;
		-khtml-user-select: none;
		user-select: none;
	}
</style>


<!-- 詳細 -->
<%= content_tag(:div, class: ["lightbox", "cd#{a}", "clearfix"]) do %>
	<div id="jacket-show">
		<%= attachment_image_tag album, :article_image, format: 'jpg', fallback: "/no_image_m.png", width: '350', height: '350'%>
	</div>
	<div id="cd-detail">
		<p class="title"><%= album.article_name %></p>
		<hr width="100%">
			<% album.tracks.each do |t| %>
			<%= link_to muzzle_cds_path, "data-featherlight" => ".track#{t.id}" do %>
			<p class="track">
				<%= t.track_num %>.<%= t.track_name %><% end %><br/>
			<% end %></p>
		<hr width="100%">
		<p class="show-price">￥<%= album.price.to_s(:delimited) %>(tax-in)</p>
	</div>
	<%= link_to muzzle_orders_new_path(id: album.id) do %>
	<button id="show-buy"><strong>Buy this</strong></button><% end %>
<% end %>

<!-- 歌詞 -->
<% album.tracks.each do |t, l| %>
	<%= content_tag(:div, class: ['lightbox', "track#{t.id}"]) do %>
		<h3><%= t.track_name %></h3>
		<hr width="100%" color="black">
		<p>作詞:<%= t.lyricer %> / 作曲:<%= t.composer %></p>
		<hr width="100%" color="black">
		<% if t.lyric.blank? %>
			<p>この曲の歌詞はありません</p>
		<% else %>
			<div id="lyric_area" oncopy="return false" oncut="return false" onmuousemove="return false" onmousedown="return false">
				<p><%= simple_format(t.lyric.lyric) %></p>
			</div>
		<% end %>
	<% end %>
<% end %>