<div id="index-cd">
	<h2>歌詞一覧</h2>
	<table>
		<thead>
			<tr>
				<th>Track名</th>
				<th>CD名</th>
				<th>作詞者</th>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<% @lyrics.each_with_index do |lyric, i| %>
			<tr>
				<td><%= link_to admin_lyrics_path, "data-featherlight" => ".lyric#{i}" do %>
					<%= lyric.track.track_name %><% end %></td>
				<td><%= lyric.article.article_name %></td>
				<td><%= lyric.admin.name %></td>
				<td><%= link_to admin_lyric_path(lyric), method: :delete, data: { confirm: 'Are you sure?' } do %>
					<button class="delete">削除</button><% end %></td>
			</tr>
			<!-- 詳細 -->
				<%= content_tag(:div, class: ['lightbox', "lyric#{i}"]) do %>
					<h3><%= lyric.track.track_name %></h3>
					<hr width="100%" color="black">
					<p class="date">作詞:<%= lyric.admin.name %> / 作曲:<%= lyric.track.composer %></p>
					<hr width="100%" color="black">
					<p><%= simple_format(lyric.lyric) %></p>
					<hr width="100%" color="black">
					<%= link_to "編集", edit_admin_lyric_path(lyric) %>
				<% end %>
			<% end %>
		</tbody>
	</table>
	<%= paginate @lyrics %>
</div>