<div id="index-self">
	<h2>Interview一覧</h2>
	<table>
		<thead>
			<tr>
				<th>Title</th>
				<th>投稿日時</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @interviews.each_with_index do |int, i| %>
			<tr>
				<td><%= link_to admin_interviews_path(int), "data-featherlight" => ".self#{i}" do %>
					<%= int.title %><% end %></td>
				<td><%= int.created_at.strftime('%Y年%m月%d日 %H:%M') %></td>
				<td><%= link_to edit_admin_interview_path(int) do %>
					<button class="edit">編集</button><% end %></td>
				<td><%= link_to admin_interview_path(int), method: :delete, data: { confirm: 'Are you sure?' } do %>
					<button class="delete">削除</button><% end %></td>
			</tr>
			<!-- 詳細 -->
			  <%= content_tag(:div, class: ["lightbox", "self#{i}"]) do %>
				<h2><%= int.title %></h2>
				<p class="self-date"><%= int.created_at.strftime('%Y年%m月%d日 %H:%M') %></p>
				<hr width="100%" color="black">
				<p><%= simple_format(int.body) %></p>
			  <% end %>
			<% end %>
		</tbody>
	</table>
	<%= paginate @interviews %>
</div>

