<!DOCTYPE HTML>
<html>
	<head>
	    <title>TheMuzzle</title>
	    <meta charset="UTF-8">
    	<%= stylesheet_link_tag    'application_admin', media: 'all', 'data-turbolinks-track' => 'reload' %>
    	<link href="asstes/stylesheets/featherlight.min.css" title="Featherlight Styles" rel="stylesheet">
		<%= csrf_meta_tags %>
		<style>
			.lightbox { display: none; }
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="assets/javascripts/featherlight.min.js" charset="utf-8"></script>
		<script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
	</head>
	<body>
    <header id="header">
		<ul id="nav">
				<%= link_to admin_root_path do %>
			<li class="muzzle"><img src="/muzzle_logo2.png" width="100%" height="100%"></li><% end %>
			<li class="drower">ITEM<span>▼</span>
				<ul>
					<%= link_to admin_cds_path do %>
					<li>CD一覧</li><% end %>
					<%= link_to new_admin_cd_path do %>
					<li>CD追加</li><% end %>
					<%= link_to admin_items_path do %>
					<li>Goods一覧</li><% end %>
					<%= link_to new_admin_item_path do %>
					<li>Goods追加</li><% end %>
				</ul>
			</li>
			<li class="drower">Interview<span>▼</span>
				<ul>
					<%= link_to admin_interviews_path do %>
					<li>一覧</li><% end %>
					<%= link_to new_admin_interview_path do %>
					<li>追加</li><% end %>
				</ul>
			</li>
			<li class="drower">Blog<span>▼</span>
				<ul>
					<%= link_to admin_blogs_path do %>
					<li>一覧</li><% end %>
					<%= link_to new_admin_blog_path do %>
					<li>追加</li><% end %>
				</ul>
			</li>
				<%= link_to admin_offshots_path do %>
			<li>Offshot</li><% end %>
				<%= link_to admin_mails_path do %>
			<li>Mail</li><% end %>
				<%= link_to admin_muzzles_path do %>
			<li>User</li><% end %>
				<%= link_to admin_orders_path do %>
			<li>Order</li><% end %>
				<%= link_to destroy_admin_session_path, method: :delete do %>
			<li>LogOut</li><% end %>
		</ul>
	</header><!-- /header -->

	<% if flash[:notice] %>
		<i class="alert" style="color: white;"><%= flash[:notice] %></i>
	<% end %>


	    <%= yield %>
	</body>
</html>
